@model PRG4_M6_P1_KEL6.Models.Pengumuman

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pengumuman</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NamaPengumuman" class="control-label"></label>
                <input asp-for="NamaPengumuman" class="form-control" />
                <span asp-validation-for="NamaPengumuman" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JenisPengumuman" class="control-label"></label>
                <input asp-for="JenisPengumuman" class="form-control" />
                <span asp-validation-for="JenisPengumuman" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsiPengumuman" class="control-label"></label>
                <input asp-for="IsiPengumuman" class="form-control" />
                <span asp-validation-for="IsiPengumuman" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <a class="btn btn-secondary" asp-action="Index"><i class="fa fa-angle-double-left"></i> Back to List</a>
            </div>
        </form>
    </div>
</div>
